{
  "openapi": "3.0.1",
  "info": {
    "title": "Bohrium OpenAPI",
    "description": "Bohrium 平台对外 OpenAPI 的单一事实源（single source of truth）。\n\n内容基于各 Skill（`zh/<skill>/SKILL.md`）中记录的真实接口、请求/响应示例生成；Apifox 定时从仓库 `dptech-corp/bohrium-skills` 的 `docs/api/openapi.json` 抓取并同步到 https://open.bohrium.com 。\n\n鉴权：所有接口使用 `Authorization: Bearer <BOHR_ACCESS_KEY>`。业务返回通常为 `{code, data, message}` 信封，`code==0` 成功，`code==2000` 未授权。\n\n计费端点带 `x-bohrium-price` 扩展并在 description 追加「计费」行；每个 tag 带 `x-owner` 标注模块归属（详见 `docs/api/owners.yaml` 与 `tools/whoowns.py`）。\n\n`bohrium-database`（SDK）与 `bohrium-sandbox`（CLI）不暴露 REST 端点，未收录。",
    "version": "2.1.0"
  },
  "servers": [
    {
      "url": "https://open.bohrium.com",
      "description": "Bohrium OpenAPI 正式环境"
    }
  ],
  "tags": [
    {
      "name": "数据集 (bohrium-dataset)",
      "x-owner": {
        "module": "bohrium-dataset",
        "skill_doc": "zh/bohrium-dataset/SKILL.md"
      }
    },
    {
      "name": "文件盘 (bohrium-file)",
      "x-owner": {
        "module": "bohrium-file",
        "skill_doc": "zh/bohrium-file/SKILL.md"
      }
    },
    {
      "name": "计算任务 (bohrium-job)",
      "x-owner": {
        "module": "bohrium-job",
        "skill_doc": "zh/bohrium-job/SKILL.md"
      }
    },
    {
      "name": "知识库 (bohrium-knowledge-base)",
      "x-owner": {
        "module": "bohrium-knowledge-base",
        "skill_doc": "zh/bohrium-knowledge-base/SKILL.md"
      }
    },
    {
      "name": "大知识模型 (bohrium-lkm)",
      "x-owner": {
        "module": "bohrium-lkm",
        "skill_doc": "zh/bohrium-lkm/SKILL.md"
      }
    },
    {
      "name": "AI 科学小导师 (bohrium-mentor)",
      "x-owner": {
        "module": "bohrium-mentor",
        "skill_doc": "zh/bohrium-mentor/SKILL.md"
      }
    },
    {
      "name": "开发节点 (bohrium-node)",
      "x-owner": {
        "module": "bohrium-node",
        "skill_doc": "zh/bohrium-node/SKILL.md"
      }
    },
    {
      "name": "论文与专利搜索 (bohrium-paper-search)",
      "x-owner": {
        "module": "bohrium-paper-search",
        "skill_doc": "zh/bohrium-paper-search/SKILL.md"
      }
    },
    {
      "name": "PDF 解析 (bohrium-pdf-parser)",
      "x-owner": {
        "module": "bohrium-pdf-parser",
        "skill_doc": "zh/bohrium-pdf-parser/SKILL.md"
      }
    },
    {
      "name": "项目管理 (bohrium-project)",
      "x-owner": {
        "module": "bohrium-project",
        "skill_doc": "zh/bohrium-project/SKILL.md"
      }
    },
    {
      "name": "容器镜像 (bohrium-image)",
      "x-owner": {
        "module": "bohrium-image",
        "skill_doc": "zh/bohrium-image/SKILL.md"
      }
    },
    {
      "name": "学者搜索 (bohrium-scholar-search)",
      "x-owner": {
        "module": "bohrium-scholar-search",
        "skill_doc": "zh/bohrium-scholar-search/SKILL.md"
      }
    },
    {
      "name": "科学百科 (bohrium-sciencepedia)",
      "x-owner": {
        "module": "bohrium-sciencepedia",
        "skill_doc": "zh/bohrium-sciencepedia/SKILL.md"
      }
    },
    {
      "name": "科学工具库 (bohrium-tools)",
      "x-owner": {
        "module": "bohrium-tools",
        "skill_doc": "zh/bohrium-tools/SKILL.md"
      }
    },
    {
      "name": "网页搜索 (bohrium-web-search)",
      "x-owner": {
        "module": "bohrium-web-search",
        "skill_doc": "zh/bohrium-web-search/SKILL.md"
      }
    }
  ],
  "paths": {
    "/openapi/v2/ds/": {
      "get": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "列出数据集",
        "description": "获取数据集列表。**重要**：路径带尾部斜杠 `/v2/ds/`，不要用 `/v2/ds/list`（会被 `/:id` 路由捕获报错）。",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "projectName": {
                      "type": "string"
                    },
                    "creatorName": {
                      "type": "string"
                    },
                    "updateTime": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "通过 API 创建数据集（程序化）",
        "description": "程序化创建数据集，返回 tiefblue 上传路径。随后用 tiefblue 上传文件，再调用 `PUT /openapi/v2/ds/commit`。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "identifier": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "projectId",
                  "identifier"
                ]
              },
              "example": {
                "title": "my-dataset",
                "projectId": 12345,
                "identifier": "my-dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datasetId": {
                      "type": "integer"
                    },
                    "tiefbluePath": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/ds/commit": {
      "put": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "提交数据集（上传文件后调用）",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datasetId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "datasetId"
                ]
              },
              "example": {
                "datasetId": 12345
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/ds/{dataset_id}": {
      "get": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "获取数据集详情",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "versionId": {
                      "type": "string"
                    },
                    "projectName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "修改数据集信息",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "title": "new-title"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/ds/{dataset_id}/version": {
      "get": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "获取数据集版本列表",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string"
                      },
                      "totalCount": {
                        "type": "integer"
                      },
                      "totalSize": {
                        "type": "integer"
                      },
                      "downloadUri": {
                        "type": "string"
                      },
                      "datasetPath": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "创建新版本",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "versionDesc": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "versionDesc": "v2 update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/ds/{dataset_id}/version/{version_id}": {
      "get": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "获取指定版本详情",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "删除数据集版本",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/ds/quota/check": {
      "get": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "检查配额",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "used": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "result": true,
                  "limit": 30,
                  "used": 5
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/ds/input/token": {
      "get": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "获取上传 Token（用于 tiefblue 上传）",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "host": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/ds/{dataset_id}/permission": {
      "get": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "查看数据集权限",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/ds/project": {
      "get": {
        "tags": [
          "数据集 (bohrium-dataset)"
        ],
        "summary": "获取关联项目列表",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/ak/get": {
      "get": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "获取当前身份（AccessKey 对应用户）",
        "description": "返回中使用 `data.user_id` 作为后续 `userId`；同时可获取 `orgId`。",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "integer"
                        },
                        "orgId": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/file/iterate": {
      "post": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "列目录",
        "description": "列出个人盘或项目共享盘目录。字段是 `prefix`，不是 `path`。若响应 `data.hasNext=true`，用返回的 `data.nextToken` 继续请求下一页。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prefix": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "userId": {
                    "type": "integer"
                  },
                  "dirSpace": {
                    "type": "string"
                  },
                  "maxObjects": {
                    "type": "integer"
                  },
                  "nextToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "prefix",
                  "projectId",
                  "userId"
                ]
              },
              "example": {
                "prefix": "personal/",
                "projectId": 0,
                "userId": 27071,
                "dirSpace": "personal",
                "maxObjects": 100,
                "nextToken": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "hasNext": {
                          "type": "boolean"
                        },
                        "nextToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/file/stat/{path}": {
      "get": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "查看路径是否存在（文件信息）",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/file/meta/{path}": {
      "get": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "获取文件元数据",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/file/download/{path}": {
      "get": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "下载文件",
        "description": "可能重定向，curl 用 `-L`。",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/file/mkdir": {
      "post": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "创建目录",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "userId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "path",
                  "projectId",
                  "userId"
                ]
              },
              "example": {
                "path": "personal/new-folder",
                "projectId": 0,
                "userId": 27071
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/file/move": {
      "post": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "移动或重命名文件",
        "description": "字段是 `sourcePath` 和 `destinationPath`，不是 `src`/`dst`。目录递归操作使用 `/mover`。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourcePath": {
                    "type": "string"
                  },
                  "destinationPath": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "userId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "sourcePath",
                  "destinationPath"
                ]
              },
              "example": {
                "sourcePath": "personal/old.txt",
                "destinationPath": "personal/new.txt",
                "projectId": 0,
                "userId": 27071
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/file/mover": {
      "post": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "移动或重命名目录（递归）",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourcePath": {
                    "type": "string"
                  },
                  "destinationPath": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "userId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "sourcePath",
                  "destinationPath"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/file/copy": {
      "post": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "复制文件",
        "description": "字段是 `sourcePath` 和 `destinationPath`。目录递归操作使用 `/copyr`。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourcePath": {
                    "type": "string"
                  },
                  "destinationPath": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "userId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "sourcePath",
                  "destinationPath"
                ]
              },
              "example": {
                "sourcePath": "personal/source.txt",
                "destinationPath": "personal/copy.txt",
                "projectId": 0,
                "userId": 27071
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/file/copyr": {
      "post": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "复制目录（递归）",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourcePath": {
                    "type": "string"
                  },
                  "destinationPath": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "userId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "sourcePath",
                  "destinationPath"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/file/delete/{path}": {
      "delete": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "删除文件",
        "description": "目录递归删除使用 `/deleter/{path}`。",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/file/deleter/{path}": {
      "delete": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "删除目录（递归）",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/file/decompress": {
      "post": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "解压文件",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filePath": {
                    "type": "string"
                  },
                  "dirName": {
                    "type": "string"
                  }
                },
                "required": [
                  "filePath",
                  "dirName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/file/upload/binary": {
      "get": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "获取上传凭证（v2 两步上传第一步，推荐）",
        "description": "向 open-platform 申请存储网关凭证，`path` 决定最终落到 personal 还是 share。返回 storage host + 上传凭证；第二步把二进制内容上传到返回的 `host`。",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "host": {
                          "type": "string"
                        },
                        "Authorization": {
                          "type": "string"
                        },
                        "X-Storage-Param": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "data": {
                    "host": "https://tiefblue-nas.dp.tech",
                    "Authorization": "Bearer ...",
                    "X-Storage-Param": "..."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/file/upload/binary": {
      "post": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "直接上传文件（v1 老接口）",
        "description": "返回 307，curl 必须 `-L`（会返回 `307 Location: https://tiefblue-nas.dp.tech/api/upload/binary?...`）。请求体为二进制文件内容。",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/file/iterate": {
      "post": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "列目录（仅 appJob 工作区）",
        "description": "仅用于 appJob 工作区。`pathKey` 是 appJob id。当前上游不支持 `pathType: personal` 或 `share`（返回 `path type not found`）。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pathType": {
                    "type": "string"
                  },
                  "pathKey": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "pathType": "appJob",
                "pathKey": 12345
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/file/download": {
      "post": {
        "tags": [
          "文件盘 (bohrium-file)"
        ],
        "summary": "下载文件（仅 appJob 工作区）",
        "description": "仅用于 appJob 工作区。`pathKey` 是 appJob id。当前上游不支持 `pathType: personal` 或 `share`。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pathType": {
                    "type": "string"
                  },
                  "pathKey": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "pathType": "appJob",
                "pathKey": 12345
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/job/list": {
      "get": {
        "tags": [
          "计算任务 (bohrium-job)"
        ],
        "summary": "按状态过滤任务列表",
        "description": "status: 0=等待, 1=运行中, 2=完成, 3=调度中, -1=失败。",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/job/view/conf/{job_id}": {
      "get": {
        "tags": [
          "计算任务 (bohrium-job)"
        ],
        "summary": "查看任务配置（含文件访问 token）",
        "description": "`token` + `host` 可用于 tiefblue 访问任务文件。",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string"
                    },
                    "baseDir": {
                      "type": "string"
                    },
                    "tempDir": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    },
                    "host": {
                      "type": "string"
                    },
                    "expires": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/job/{job_id}/snapshot": {
      "get": {
        "tags": [
          "计算任务 (bohrium-job)"
        ],
        "summary": "查看任务快照",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/job/{job_id}/modify": {
      "post": {
        "tags": [
          "计算任务 (bohrium-job)"
        ],
        "summary": "修改任务名",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "new-name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v1/job_group/{job_group_id}/modify": {
      "post": {
        "tags": [
          "计算任务 (bohrium-job)"
        ],
        "summary": "修改任务组名",
        "parameters": [
          {
            "name": "job_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "new-group-name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/project/list": {
      "get": {
        "tags": [
          "项目管理 (bohrium-project)"
        ],
        "summary": "获取详细项目列表（含费用、成员数等）",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "totalCost": {
                            "type": "number"
                          },
                          "monthCost": {
                            "type": "number"
                          },
                          "userCount": {
                            "type": "integer"
                          },
                          "projectRole": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/project/lite_list": {
      "get": {
        "tags": [
          "项目管理 (bohrium-project)"
        ],
        "summary": "精简项目列表（仅 id+name）",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/project/set_name": {
      "post": {
        "tags": [
          "项目管理 (bohrium-project)"
        ],
        "summary": "重命名项目",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "projectId",
                  "name"
                ]
              },
              "example": {
                "projectId": 12345,
                "name": "new-name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/project/set_cost_limit": {
      "post": {
        "tags": [
          "项目管理 (bohrium-project)"
        ],
        "summary": "设置项目费用上限",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "integer"
                  },
                  "costLimit": {
                    "type": "integer"
                  }
                },
                "required": [
                  "projectId",
                  "costLimit"
                ]
              },
              "example": {
                "projectId": 12345,
                "costLimit": 5000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/project/{project_id}/users": {
      "get": {
        "tags": [
          "项目管理 (bohrium-project)"
        ],
        "summary": "查看项目成员",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "integer"
                          },
                          "userName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "projectRole": {
                            "type": "integer"
                          },
                          "cost": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/project/add_user": {
      "post": {
        "tags": [
          "项目管理 (bohrium-project)"
        ],
        "summary": "添加成员（通过 email）",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "integer"
                  },
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "projectId",
                  "email"
                ]
              },
              "example": {
                "projectId": 12345,
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/project/del_user": {
      "post": {
        "tags": [
          "项目管理 (bohrium-project)"
        ],
        "summary": "删除成员",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "integer"
                  },
                  "userId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "projectId",
                  "userId"
                ]
              },
              "example": {
                "projectId": 12345,
                "userId": 12345
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/project/manager/add": {
      "post": {
        "tags": [
          "项目管理 (bohrium-project)"
        ],
        "summary": "添加管理员",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "integer"
                  },
                  "userId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "projectId",
                  "userId"
                ]
              },
              "example": {
                "projectId": 12345,
                "userId": 12345
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/project/manager/del": {
      "post": {
        "tags": [
          "项目管理 (bohrium-project)"
        ],
        "summary": "删除管理员",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "integer"
                  },
                  "userId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "projectId",
                  "userId"
                ]
              },
              "example": {
                "projectId": 12345,
                "userId": 12345
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/project/{project_id}/recovery_user": {
      "put": {
        "tags": [
          "项目管理 (bohrium-project)"
        ],
        "summary": "恢复已删除成员",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "userId"
                ]
              },
              "example": {
                "userId": 12345
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/image/public/version/search": {
      "get": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "搜索公共镜像版本（关键词）",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "version": {
                            "type": "string"
                          },
                          "resourceType": {
                            "type": "string"
                          },
                          "size": {
                            "type": "integer"
                          },
                          "url": {
                            "type": "string"
                          },
                          "imageName": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/image/public": {
      "get": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "公共镜像分类列表",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/image/public/{image_id}/version": {
      "get": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "公共镜像版本列表",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/image/private": {
      "get": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "私有镜像列表",
        "description": "必须传 `device` 和 `type` 参数。",
        "parameters": [
          {
            "name": "device",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "buildType": {
                            "type": "integer"
                          },
                          "creatorName": {
                            "type": "string"
                          },
                          "projectName": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "创建私有镜像（Dockerfile 构建）",
        "description": "`dockerfile` 字段必须是 base64 编码的字符串。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "device": {
                    "type": "string"
                  },
                  "desc": {
                    "type": "string"
                  },
                  "buildType": {
                    "type": "integer"
                  },
                  "dockerfile": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "projectId",
                  "device",
                  "buildType",
                  "dockerfile"
                ]
              },
              "example": {
                "name": "my-image",
                "projectId": 12345,
                "device": "container",
                "desc": "Custom training image",
                "buildType": 1,
                "dockerfile": "RlJPTSB1YnVudHU6MjIuMDQK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/image/private/{image_id}": {
      "get": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "私有镜像详情",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "修改镜像描述",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "desc": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "desc": "updated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/image/dockerfile/check": {
      "post": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "检查 Dockerfile 合法性",
        "description": "`dockerfile` 字段同样需要 base64 编码。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dockerfile": {
                    "type": "string"
                  }
                },
                "required": [
                  "dockerfile"
                ]
              },
              "example": {
                "dockerfile": "RlJPTSB1YnVudHU6MjIuMDQK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/image/last_used": {
      "get": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "获取上次使用的镜像",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/image/{image_id}/share": {
      "post": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "分享镜像（项目成员可见）",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "容器镜像 (bohrium-image)"
        ],
        "summary": "取消分享镜像",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/node/add": {
      "post": {
        "tags": [
          "开发节点 (bohrium-node)"
        ],
        "summary": "程序化创建节点（非交互式）",
        "description": "从 `bohr image list --json` 获取 `imageId`；`machineConfig.value` 即 skuId。\n\n**计费**：按机时收费（元/小时），价格见 Node 定价页",
        "x-bohrium-price": {
          "billable": true,
          "currency": "CNY",
          "skill": "bohrium-node",
          "unit": "小时",
          "note": "开机后按机时收费，价格见 Node 定价页"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "imageId": {
                    "type": "integer"
                  },
                  "machineConfig": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "integer"
                      },
                      "value": {
                        "type": "integer"
                      },
                      "label": {
                        "type": "string"
                      }
                    }
                  },
                  "diskSize": {
                    "type": "integer"
                  }
                },
                "required": [
                  "projectId",
                  "name",
                  "imageId",
                  "machineConfig",
                  "diskSize"
                ]
              },
              "example": {
                "projectId": 12345,
                "name": "my-node",
                "imageId": 67890,
                "machineConfig": {
                  "type": 0,
                  "value": 388,
                  "label": "c2_m4_cpu"
                },
                "diskSize": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "machineId": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "data": {
                    "machineId": 100001
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/node/resources": {
      "get": {
        "tags": [
          "开发节点 (bohrium-node)"
        ],
        "summary": "查询可用机器资源",
        "description": "其中 `value` 即 skuId，用于创建节点和查询价格。",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "disks": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "cpuList": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "gpuList": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "disks": [
                    20,
                    40,
                    80,
                    100
                  ],
                  "cpuList": [],
                  "gpuList": []
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/node/resources/price": {
      "get": {
        "tags": [
          "开发节点 (bohrium-node)"
        ],
        "summary": "查询资源价格",
        "description": "返回价格单位为元/小时。",
        "parameters": [
          {
            "name": "skuId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "price": "0.4"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/node/{machine_id}": {
      "get": {
        "tags": [
          "开发节点 (bohrium-node)"
        ],
        "summary": "获取节点详情（含 SSH 密码）",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nodeId": {
                      "type": "integer"
                    },
                    "nodeName": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "ip": {
                      "type": "string"
                    },
                    "nodeUser": {
                      "type": "string"
                    },
                    "nodePwd": {
                      "type": "string"
                    },
                    "domainName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/node/restart/{machine_id}": {
      "post": {
        "tags": [
          "开发节点 (bohrium-node)"
        ],
        "summary": "重启节点（需先停止）",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/node/modify/{machine_id}": {
      "post": {
        "tags": [
          "开发节点 (bohrium-node)"
        ],
        "summary": "修改节点名称",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "new-name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/node/ds": {
      "get": {
        "tags": [
          "开发节点 (bohrium-node)"
        ],
        "summary": "查看节点绑定的数据集",
        "parameters": [
          {
            "name": "nodeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/node/ds/bind": {
      "post": {
        "tags": [
          "开发节点 (bohrium-node)"
        ],
        "summary": "绑定数据集到节点",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodeId": {
                    "type": "integer"
                  },
                  "datasetId": {
                    "type": "integer"
                  }
                },
                "required": [
                  "nodeId",
                  "datasetId"
                ]
              },
              "example": {
                "nodeId": 100001,
                "datasetId": 12345
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/create": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "创建知识库",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "knowledgeBaseName": {
                    "type": "string"
                  },
                  "cover": {
                    "type": "string"
                  },
                  "introduction": {
                    "type": "string"
                  },
                  "privilege": {
                    "type": "integer"
                  }
                },
                "required": [
                  "knowledgeBaseName",
                  "cover",
                  "introduction",
                  "privilege"
                ]
              },
              "example": {
                "knowledgeBaseName": "My Knowledge Base",
                "cover": "",
                "introduction": "A collection of papers on molecular dynamics",
                "privilege": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "data": {
                    "id": 123,
                    "msg": "Knowledge base created successfully."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/list": {
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "我的知识库列表",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nodeId": {
                                "type": "integer"
                              },
                              "introduction": {
                                "type": "string"
                              },
                              "cover": {
                                "type": "string"
                              },
                              "privilege": {
                                "type": "integer"
                              },
                              "isZotero": {
                                "type": "boolean"
                              },
                              "count": {
                                "type": "integer"
                              },
                              "updateTime": {
                                "type": "string"
                              },
                              "createTime": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              },
                              "favoriteCount": {
                                "type": "integer"
                              },
                              "sessionCount": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/update": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "更新知识库",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "knowledgeBaseName": {
                    "type": "string"
                  },
                  "cover": {
                    "type": "string"
                  },
                  "introduction": {
                    "type": "string"
                  },
                  "NodesId": {
                    "type": "integer"
                  },
                  "privilege": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "knowledgeBaseName": "Updated Name",
                "cover": "",
                "introduction": "Updated introduction",
                "NodesId": 456,
                "privilege": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "data": {
                    "id": 123,
                    "msg": "Knowledge base updated successfully."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/{node_id}": {
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "知识库详情",
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/discover": {
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "发现公开知识库",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/recommendation": {
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "推荐知识库",
        "description": "返回 data: {list, total, config_reason}",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/favorite": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "收藏知识库",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodesId": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "nodesId": 456
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "查看我收藏的知识库",
        "parameters": [
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/unfavorite": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "取消收藏知识库",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodesId": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "nodesId": 456
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/browse/add": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "记录浏览历史",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileId": {
                    "type": "integer"
                  },
                  "fileType": {
                    "type": "integer"
                  },
                  "parentId": {
                    "type": "integer"
                  },
                  "rootFolderId": {
                    "type": "integer"
                  },
                  "nodesId": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "fileId": 12345,
                "fileType": 1,
                "parentId": 456,
                "rootFolderId": 456,
                "nodesId": 456
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/browse/query": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "查询浏览历史",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pageNum": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "pageNum": 1,
                "pageSize": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/history/query": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "查询搜索历史",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pageNum": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "pageNum": 1,
                "pageSize": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/knowledge_base/search/name": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "搜索知识库（按名称）",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodesId": {
                    "type": "integer"
                  },
                  "searchText": {
                    "type": "string"
                  },
                  "searchType": {
                    "type": "integer"
                  },
                  "pageNum": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "nodesId": 456,
                "searchText": "molecular dynamics",
                "searchType": 0,
                "pageNum": 1,
                "pageSize": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "folders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fileName": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/knowledge/folder/root": {
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "根目录列表（知识库列表）",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "docCount": {
                          "type": "integer"
                        },
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "docCount": {
                                "type": "integer"
                              },
                              "relationship": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/knowledge/folder/children": {
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "子目录列表（一级）",
        "parameters": [
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "nodesId": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "depth": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "folders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "docCount": {
                                "type": "integer"
                              },
                              "createdTime": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "nodesId": {
                                "type": "integer"
                              },
                              "paperId": {
                                "type": "string"
                              },
                              "md5": {
                                "type": "string"
                              },
                              "enName": {
                                "type": "string"
                              },
                              "zhName": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "authors": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string"
                              },
                              "literatureType": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "fileCount": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/knowledge/folder/directory": {
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "目录树（递归树结构）",
        "description": "递归树结构: {result: [{nodesId, name, subFolders: [...]}]}",
        "parameters": [
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/folder/file_tree": {
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "文件树（含文献）",
        "parameters": [
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/folder/create": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "创建文件夹",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parentId": {
                    "type": "integer"
                  },
                  "folderName": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "parentId": 456,
                "folderName": "My Folder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 0,
                  "data": {
                    "message": "..."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v2/knowledge/folder/update": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "重命名文件夹",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodesId": {
                    "type": "integer"
                  },
                  "folderName": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "nodesId": 789,
                "folderName": "New Name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/folder/move": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "移动文件夹",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceFolderId": {
                    "type": "integer"
                  },
                  "targetFolderId": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "sourceFolderId": 789,
                "targetFolderId": 456
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/folder/delete": {
      "post": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "删除文件夹 / 删除知识库（根 nodesId）",
        "description": "删除文件夹。删除知识库等同于删除其根 nodesId（只有 Owner 角色 role=1 才能删除知识库根节点）。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodesId": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "nodesId": 789
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/file": {
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "文献列表",
        "parameters": [
          {
            "name": "parentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "noTag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/openapi/v2/knowledge/file/detail": {
      "get": {
        "tags": [
          "知识库 (bohrium-knowledge-base)"
        ],
        "summary": "文献详情",
        "parameters": [
          {
            "name": "resourceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
[...]
